accelerate==1.8.1
aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
annotated-types==0.7.0
asgiref @ file:///C:/Users/dev-admin/perseverance-python-buildout/croot/asgiref_1729057877436/work
attrs==25.3.0
bitsandbytes==0.46.1
blis==1.3.0
catalogue==2.0.10
certifi==2025.4.26
cffi==2.0.0
channels==4.2.2
charset-normalizer==3.4.2
click==8.2.0
cloudpathlib==0.21.1
colorama==0.4.6
confection==0.1.5
cryptography==46.0.3
cymem==2.0.11
datasets==3.6.0
defusedxml==0.7.1
dill==0.3.8
dj-database-url==3.0.1
Django==5.2.1
django-cors-headers==4.7.0
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
djoser==2.3.3
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
et_xmlfile==2.0.0
evaluate==0.4.5
faiss-cpu==1.11.0
filelock==3.18.0
frozenlist==1.6.0
fsspec==2025.3.0
gender-guesser==0.4.0
Genderize==0.3.1
gunicorn==23.0.0
hf-xet==1.1.5
huggingface-hub==0.34.3
idna==3.10
Jinja2==3.1.6
joblib==1.5.0
langcodes==3.5.0
language_data==1.3.0
marisa-trie==1.2.1
markdown-it-py==3.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
mpmath==1.3.0
multidict==6.4.3
multiprocess==0.70.16
murmurhash==1.0.13
networkx==3.4.2
numpy==2.2.5
oauthlib==3.3.1
openpyxl==3.1.5
packaging==25.0
pandas==2.2.3
pillow==11.2.1
preshed==3.0.10
propcache==0.3.1
psutil==7.0.0
psycopg2==2.9.10
psycopg2-binary==2.9.11
pyarrow==20.0.0
pycparser==2.23
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
PyJWT==2.9.0
python-dateutil==2.9.0.post0
python3-openid==3.2.0
pytz==2025.2
PyYAML==6.0.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==2.0.0
rest-framework-simplejwt==0.0.2
rich==14.0.0
sacremoses==0.1.1
safetensors==0.5.3
scikit-learn==1.7.0
scipy==1.16.0
sentence-transformers==5.0.0
setuptools==78.1.1
shellingham==1.5.4
six==1.17.0
smart_open==7.3.0.post1
social-auth-app-django==5.6.0
social-auth-core==4.7.0
spacy==3.8.7
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlparse @ file:///C:/Users/dev-admin/buildout/croot/sqlparse_1739565583021/work
srsly==2.5.1
sympy==1.13.1
thinc==8.3.6
threadpoolctl==3.6.0
tokenizers==0.21.1
torch==2.6.0+cu124
torchaudio==2.6.0+cu124
torchvision==0.21.0+cu124
tqdm==4.67.1
transformers==4.55.0
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
wasabi==1.1.3
weasel==0.4.1
wheel==0.45.1
wrapt==1.17.2
xxhash==3.5.0
yarl==1.20.0
